PORT=3000
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your-db-password
POSTGRES_DB=otp_seakun
DATABASE_URL="postgresql://postgres:your-db-password@localhost:5432/otp_seakun?schema=public"
CHROME_PORTABLE_PATH="C:\PortableApps\GoogleChromePortable\App\Chrome-bin\chrome.exe"
CHROME_USER_DATA_DIR="C:\ChromeProfiles"
